body {
  background-color: hsl(43, 13%, 90%);
  color: hsl(42, 15%, 13%);
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Medium.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.ttf");
  font-weight: 600;
}
